.text-muted {
    color: inherit;
}

a {
    color: inherit;
}

a:hover, a:focus {
    color: inherit;
}

.panel {
    margin-bottom: 20px;
    background-color: #00000050;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-default > .panel-heading {
    color: inherit;
    background-color: inherit;
    border-color: #ddd;
  }

  html{scroll-behavior:smooth}
  